<html>
    <head>
        <title> {{ .Params.title }} </title>

        <meta http-equiv="content-type"    content="text/html; charset=utf-8" />

        <style>

table, th, td {
    border: 1px solid black;
}
        </style>

    </head>
    <body>

        <h1 style="text-align:center" > {{ .Params.title }} </h1>

        {{ $divH := .Params.indexHeight }}{{ $divW := .Params.indexWidth }}

        <div style=" ">
            {{- range $elem_index, $elem_val := .Params.indexSET -}}
            <div style="height:{{ $divH }}; width:{{ $divW }}; border-style:solid; float:left; "  >
                {{$elem_index}} :=:
                {{- range $elem_21, $elem_22 := split $elem_val "," }}
                ==
                {{- $elem_22 -}} 
                {{- end }}
            </div >
            {{ end }}
        </div>

    </body>
</html>

